{% extends "main.html" %}

{% block content %}
<div class="container g-py-100">
    <div class="row justify-content-center">
    <div class="content-section g-mt-120 text-center">
        <h1>Unauthorized (401)</h1>
        <p>The server could not verify that you are authorized to access the URL requested. You either supplied the 
            wrong credentials (e.g. a bad password), or your browser doesn't understand how to supply the credentials required.</p>
    </div>
    </div>
    </div>
{% endblock content %}