{% extends "main.html" %}

{% block content %}
<div class="container g-py-100">
    <div class="row justify-content-center">
    <div class="content-section g-mt-120 text-center">
        <h1>You don't have permission to do that (403)</h1>
        <p>Please check your account and try again</p>
    </div>
    </div>
    </div>
{% endblock content %}