{% extends "main.html" %}

{% block content %}
<div class="container g-py-100">
    <div class="row justify-content-center">
    <div class="content-section g-mt-120 text-center">
        <h1>Oops. Page Not Found(404)</h1>
        <p>Please check your link and try again</p>
    </div>
    </div>
    </div>
{% endblock content %}