{% extends "main.html" %}
{% block content %}
<div class="container g-py-100">
    <div class="row justify-content-center">
    <div class="content-section g-mt-120 text-center">
        <h1>Something went wrong(500)</h1>
        <p>We're experiencing some trouble on our end. Please try again in the near future</p>
    </div>
    </div>
    </div>
{% endblock content %}